@import '../../../styles/mixins/scrollbar.scss';


.nftsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  
  .selected {
    box-sizing: border-box;
    height: 210px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
  }

  .singleNft:nth-child(3n) {
    margin-right: 0;
  }

  .singleNft {
    margin-right: 30px;
    cursor: pointer;

    h3 {
      font-size: 14px;
      font-weight: 400;
      color: #C4C4C4;
    }

    p {
      font-size: 17px;
      font-weight: 600;
    }
  }

  img {
    width: 146px;
    height: 146px;
    object-fit: cover;
  }
}

.wrapper {
  position: relative;

  height: 100%;
  width: auto;

  .promptText {
    position: absolute;
    height: 500px;
    bottom: -25%;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;

    & h2 {
      font-size: 32px;
      margin-bottom: 12px;
    }

    & p {
      color: #CBCBCB;
      font-size: 18px;
    }

    & div {
      height: 20%;
    }

    & footer {
      font-size: 18px;
      color: #CBCBCB;
      margin-bottom: 20px;

      & span {
        cursor: pointer;
        color: #fff;
        text-decoration: underline;
      }
    }

    & button {
      background: url('/src/assets/illustrations/button/save-btn-bg.png') no-repeat;
      width: 241px;
      height: 59px;
      backdrop-filter: blur(43.3229px);
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      background-size: cover;
      border-radius: 26.8312px;
      border: 0.62px solid;
      color: #fff;
      cursor: pointer;
      font-size: 22.58px;
      position: absolute;
      left: 25%;
    }
  }

  img {
    position: absolute;
    z-index: -1;
    top: -6%;
    left: -6%;
  }
}



.nftsWrapper {
  position: relative;

  button {
    position: absolute;
    left: 30%;
    background: linear-gradient(126.59deg, rgba(255, 255, 255, 0.12) 12.11%, rgba(255, 255, 255, 0.03) 73.08%);
    box-shadow: 0px 3.79667px 22.78px -0.949168px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(37.9667px);
    border-radius: 23px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding: 14.41px;
    border: .7px solid #FF9BFB;
    width: 208px;
    height: 56.57px;
  }

  & h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 54px;
  }
}
