.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 30px;
  // padding: 0px 10px;

  color: white;

  & p {
    font-family: var(--font-family-roboto-medium);
    font-size: 21px;
  }

  & span {
    font-size: 18px;
    text-decoration: underline;
  }
}

.projects-cont {
  width: 735px;
  padding: 39px;

  display: flex;
  flex-direction: row;
  z-index: 1;
}
.border {
  width: auto;
  border: 1px solid #d39bff;
  border-radius: 20px;
}
