.container {
  max-width: 254px;
  max-height: 69px;
  background: #2d2d35;
  border-radius: 20px;
  padding: 10px 23px;
  display: flex;
  justify-content: space-evenly;

  &>.image-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    &>.image {
      overflow: hidden;
      width: 51px;
      height: 51px;
      border-radius: 30px;
      cursor: pointer;

      >img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &>.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>.text {
      font-family: var(--font-family-inter-medium);
      font-weight: 500;

      &--primary {
        color: #ffffff;
        font-size: 17px;
        letter-spacing: 1px;
        line-height: 17px;
        // text-transform: uppercase;
      }

      &--secondary {
        color: #929799;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
      }

      &--align {
        display: flex;
        align-items: center;
      }

      &--clickable {
        cursor: pointer;
      }
    }
  }
}

.indicator-outer {
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  background-color: rgba(170, 244, 213, 0.2);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 5px;
}

.indicator-fill {
  width: 7px;
  height: 7px;
  background-color: #aaf4d5;
  border-radius: 4px;
}