.tasks {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  .tasks-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    // padding: 0px 10px;

    color: white;

    & p {
      font-family: var(--font-family-roboto-medium);
      font-size: 25px;
    }

    & span {
      font-size: 18px;
      line-height: 21px;
      text-decoration: underline;
    }
  }
}
