.step2-container {
  h2 {
    font-family: var(--font-family-roboto-regular);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
  }
  h3 {
    font-family: var(--font-family-roboto-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
  }
}
