.open-wallet-drawer-btn {
  outline: none;
  border: none;
  background: rgba(220, 220, 220, 0.1);
  border-radius: 18.8px;
  width: 69px;
  height: 69px;
  cursor: pointer;
  margin-right: 32px;
  @media (max-width: 600px) {
    display: none;
   }
}
