.organisation-jobs-wrap {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  right: 15%;

  @media (max-width: 1920px) {}

  @media (max-width: 1680px) {}

  @media (max-width: 1440px) {
    right: 12%
  }

  &>h3 {
    font-family: var(--font-family-roboto-flex);
    font-size: 27px;
    margin-bottom: 15px;
    min-width: 345px;
  }

  &>div {
    color: #fff;
  }
}
