@import '../../../styles/mixins/scrollbar.scss';

body {
  color: #fff;
}

.profile-image {
  width: 110px;
  height: 110px;
  margin: auto;

  position: relative;
  cursor: pointer;
  overflow: hidden;

  .image-wrapper {
    .userImage {
      position: relative;
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }

    .bgImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      opacity: 0.7;
    }
  }

  .editIcon {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.promptImg {
  width: 600px;
  height: 277px;
}

.wrapper {
  position: relative;

  height: 100%;
  width: auto;

  .promptText {
    position: absolute;
    height: 500px;
    bottom: -25%;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;

    & h2 {
      font-size: 32px;
      margin-bottom: 12px;
    }

    & p {
      color: #CBCBCB;
      font-size: 18px;
    }

    & div {
      height: 20%;
    }

    & footer {
      font-size: 18px;
      color: #CBCBCB;
      margin-bottom: 20px;

      & span {
        cursor: pointer;
        color: #fff;
        text-decoration: underline;
      }
    }

    & button {
      background: url('/src/assets/illustrations/button/save-btn-bg.png') no-repeat;
      width: 241px;
      height: 59px;
      backdrop-filter: blur(43.3229px);
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      background-size: cover;
      border-radius: 26.8312px;
      border: 0.62px solid;
      color: #fff;
      cursor: pointer;
      font-size: 22.58px;
      position: absolute;
      left: 25%;
    }
  }

  img {
    position: absolute;
    z-index: -1;
    top: -6%;
    left: -6%;
  }
}



