.container {
  color: #fff;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  .heading {
    font-size: 25px;
    @media (max-width: 1920px)  {
      margin-left: 26.8%; 
    }
    @media (max-width: 1680px)  {
      margin-left: 23.5%;
    }
    @media (max-width: 1440px)  {
      margin-left: 19%;
    }
    @media (max-width: 1024px) {
      margin-left: 6%;
    }
    margin-bottom: 2rem;
  }
}
.taskCardWrapper {
  margin: auto;
  margin-top: 0;
  & > div {
    margin-bottom: 25px;
  }
}
