.job-view-wrap {
  &>.inline-job-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .edit-job-btn {
    color: #fff;
    border: solid 0.72px #E49DF4;
    width: 113px;
    height: 42px;
    background: linear-gradient(126.59deg, rgba(255, 255, 255, 0.12) 12.11%, rgba(255, 255, 255, 0.03) 73.08%);
    box-shadow: 0px 3.40709px 20.4425px -0.851771px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(17.0354px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    margin-left: 20.09px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 0 25px;
    font-family: var(--font-family-roboto-regular);
    font-size: 16px;
    cursor: pointer;

    &>.pencil-icon,
    .share-icon {
      font-size: 16px !important;
      margin-left: 5px;
    }
  }



  h1 {
    font-family: var(--font-family-roboto-regular);
    font-size: 25px;
  }

  a {
    font-family: var(--font-family-roboto-regular);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
  }

  &>.inline-job-details {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: var(--font-family-roboto-regular);
    font-size: 16px;
  }

  &>.job-view-description {
    @media (max-width: 1920px) {
      height: 600px;
    }

    @media (max-width: 1680px) {
      height: 550px;

    }

    @media (max-width: 1440px) {
      height: 450px;

    }

    @media (max-width: 1024px) {
      height: 380px;
    }

    margin-top: 15px;
    overflow-y: scroll;
  }

  a {
    color: #fff;
  }
  p {
    font-family: var(--font-family-roboto-flex);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
}

.job-list-people-wrap {
  display: flex;
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 15px;
  cursor: pointer;

  .job-list-people {
    display: flex;
    justify-content: center;

    // position: absolute;
    // left: 5%;
    &>div {
      background-color: #4F4453;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: -1vw;

      &>p {
        object-fit: cover;
        width: 46px;
        height: 46px;
        text-align: center;
        font-family: var(--font-family-roboto-regular);
        margin-top: 14px;
        margin-left: 2px;
        font-size: 14px;
      }
    }

    .job-people {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;
      border: 0;
      margin-left: -1vw;

      &>img {
        object-fit: cover;
        width: 46px;
        height: 46px;
      }

    }

  }

}

.show-job-applicants-wrap {

  &>.job-applicants-head-wrap {
    margin-bottom: 25px;
    display: flex;
    cursor: pointer;

    &>p {
      margin-left: 10px;
      font-family: var(--font-family-roboto-regular);
      font-size: 21px;
      line-height: 25px;
    }
  }

  &>hr {
    background: #FFFFFF;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    opacity: .5;
  }

  .job-applicants-view {
    &>p {
      font-family: var(--font-family-roboto-flex);
      font-style: normal;
      font-size: 14px;
    }

    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>img {
      height: 50px;
    }
  }
}
