.job-view-wrap {
  &>h1 {
    font-family: var(--font-family-roboto-regular);
    font-size: 25px;
  }

  &>h2 {
    font-family: var(--font-family-roboto-regular);
    font-size: 18px;
    margin-top: 10px;
  }

  &>.inline-job-details {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: var(--font-family-roboto-regular);
    font-size: 16px;
  }

  &>.job-view-description {
    margin-top: 15px;
  }
}
