.header {
  h3 {
    font-family: var(--font-family-roboto-flex);
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: white;
    text-align: center;
  }
}

.btnCont {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    min-width: 280px;
    padding: 18px 20px;
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 2;

    $border: 1px;
    border: solid $border rgb(255, 255, 255); /* !importanté */
    border-radius: 23px;

    font-family: var(--font-family-roboto-regular);
    font-size: 24px;
    text-align: center;

    background: rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    backdrop-filter: blur(40px);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 2;
}

.overlay {
  position: fixed;
  min-width: 800px;
  height: 510px;
  padding: 33px;
  background: #272833;
  box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .icon-cont {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 33px;
    top: 33px;

    & .icon {
      font-size: 24px;
      color: white;
    }
  }
}
