.header {
  h3 {
    font-family: var(--font-family-roboto-flex);
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: white;
    text-align: left;
  }
}

.btnCont {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    width: 179px;
    height: 55px;
    padding: 18px 20px;
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 2;

    $border: 1px;
    border: solid $border#E49DF4; /* !importanté */
    border-radius: 23px;

    font-family: var(--font-family-roboto-regular);
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    background: linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%), linear-gradient(89.58deg, #C6BBFB 2.95%, #E59CF3 48.36%, #FFB8D5 103.17%);
    box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
    border-radius: 22px;
    backdrop-filter: blur(40px);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
     
  }
  .btn:disabled {
    border: none;
    background: grey;
    cursor: default;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 2;
}

.overlay {
  position: fixed;
  width: 550px;
  min-height: 500px;
  padding: 33px;
  background: #272833;
  box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .icon-cont {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 33px;
    top: 33px;

    & .icon {
      font-size: 24px;
      color: white;
    }
  }
}
