.container {

  margin-top: 35.72px;
  margin-bottom: 25px;

}
.wrapper {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5px;
}
.content {
  width: 100%;
  margin-left: 25px;
  position: relative;
  p {
    font-size: 12px;
  }
}
.rating-star {
  color: #fbc579;
}
.dot {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #a1a1e5;
}
.heading {
  margin-left: 20%;
  margin-bottom: 60px;
}
.catWrap {
  border: 0.7px solid #e0b9ff;
  border-radius: 20px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  .cat {
    color: #e0b9ff;
  }
}
.wrapContent {
  padding: 5px;
  margin-top: 10px;
}
.col {
  
  margin-right: 10px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 120px;
}
