.create-prj {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-unit {
    width: 100%;
    max-width: 500px;

    & label {
      font-family: var(--font-family-roboto-flex);
      font-weight: 400;
      font-size: 20px;
      color: white;
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-top: 15px;
        border: 1px solid rgb(180, 180, 180);
        background-color: transparent;
        border-radius: 5px;
        color: white;
        font-family: var(--font-family-roboto-flex);
        font-size: 18px;

        &.name {
          height: 50px;
        }

        &.desc {
          height: 120px;
        }
      }
    }

    &:first-of-type {
      margin-bottom: 32px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 25px;
  line-height: 1.2;
}

.space {
  height: 40px;
}

.budget {
  //create the flex inside the budget
  display: flex;
  flex-direction: row;
}
.currency {
  border: 0.56491px solid #ffffff;
  border-radius: 0px 5.6491px 5.6491px 0px;
  font-size: 14px;
  background: transparent;
  font-family: var(--font-family-roboto-flex);
  font-weight: 100;
  line-height: 16px;
  color: #fbfbfb;
  align-items: center;
  width: 62px;
  padding: 12px;
}

.input {
  padding: 12px;
  border: 0.56491px solid #ffffff;
  border-radius: 5.6491px;
  min-width: 17em;
  font-size: 14px;
  background: transparent;
  font-family: var(--font-family-roboto-flex);
  font-weight: 100;
  line-height: 16px;
  color: #fbfbfb;
}
.input[type='date'] {
  cursor: pointer;
}
input[type='date']::-webkit-calendar-picker-indicator {
  background-color: #fff;
}
//firefox disable arrows
.input[type='number'] {
  -moz-appearance: textfield;
}
//chrome and safari
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input::placeholder {
  color: #fff;
  position: absolute;
}
.pointer {
  cursor: pointer;
  font-size: 14px;
  padding-top: 2%;
}
.select {
  background: transparent;
  // color: #fff;
  width: 400px;
  padding: 12px;
  font-size: 14px;
  // border: 1px solid #fff;
  border-radius: 10px;
}

.saveBtn {
  width: 180px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(
      94.63deg,
      rgba(255, 255, 255, 0.16) 4.94%,
      rgba(255, 255, 255, 0.04) 93.94%
    ),
    linear-gradient(89.58deg, #c6bbfb 2.95%, #e59cf3 48.36%, #ffb8d5 103.17%);
  box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
  border-radius: 22px;
}

span {
  & .input {
    width: 100px;
  }
}
.selectComponent {
  width: 300px;
}
.addHeight {
  height: 10px;
}
.inputIcon {
  font-size: 14px;
  float: right;
  margin-right: 15px;
  margin-top: -30px;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fieldNames {
  font-family: var(--font-family-roboto-flex);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
  margin-bottom: 10px;
}
