.create-prj {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-unit {
    width: 100%;
    max-width: 500px;

    & label {
      font-family: var(--font-family-roboto-flex);
      font-weight: 400;
      font-size: 20px;
      color: white;
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-top: 15px;
        border: 1px solid rgb(180, 180, 180);
        background-color: transparent;
        border-radius: 5px;
        color: white;
        font-family: var(--font-family-roboto-flex);
        font-size: 18px;

        &.name {
          height: 50px;
        }

        &.desc {
          height: 120px;
        }
      }
    }

    &:first-of-type {
      margin-bottom: 32px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 25px;
  line-height: 1.2;
}

.space {
  height: 40px;
}

.budget {
  //create the flex inside the budget
  display: flex;
  flex-direction: row;
}

.currency {
  border: 0.56491px solid #ffffff;
  border-radius: 0px 5.6491px 5.6491px 0px;
  font-size: 14px;
  background: transparent;
  font-family: var(--font-family-roboto-flex);
  font-weight: 100;
  line-height: 16px;
  color: #fbfbfb;
  align-items: center;
  width: 62px;
  padding: 12px;
}

.input {
  padding: 12px;
  border: 0.56491px solid #ffffff;
  border-radius: 5.6491px;
  min-width: 17em;
  font-size: 14px;
  background: transparent;
  font-family: var(--font-family-roboto-flex);
  font-weight: 100;
  line-height: 16px;
  color: #fbfbfb;
  color-scheme: dark;
}

.input[type='date'] {
  position: relative;
  padding: 10px;

}

.input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

.input[type='date']:before {
  color: transparent;
  background: none;
  display: block;
  content: '📆';
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;

}

//firefox disable arrows
.input[type='number'] {
  -moz-appearance: textfield;
}

//chrome and safari
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  color: #fff;
  position: absolute;
}

.pointer {
  cursor: pointer;
  font-size: 14px;
  padding-top: 2%;
  text-align: left;
}

.select {
  background: transparent;
  // color: #fff;
  width: 400px;
  padding: 12px;
  font-size: 14px;
  // border: 1px solid #fff;
  border-radius: 10px;
}

.saveBtn {
  width: 180px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(93.25deg, #BB84F0 4.05%, #FF94E6 63.65%, #FFA3C8 99.41%),
    linear-gradient(0deg, #E880FF, #E880FF),
    radial-gradient(116.97% 116.97% at 34.87% -2.72%, #FF8BFA 0%, #FFFFFF 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ,
    linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%);
  box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
  border-radius: 22px;
}

span {
  & .input {
    width: 100px;
  }
}

.selectComponent {
  width: 300px;
}

.addHeight {
  height: 10px;
}

.inputIcon {
  font-size: 14px;
  float: right;
  margin-right: 15px;
  margin-top: -30px;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fieldNames {
  font-family: var(--font-family-roboto-flex);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}
