.step0-container {
  text-align: center;
  height: 646px;
  width: 553px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &--header-text {
    font-family: var(--font-family-roboto-regular);
    font-size: 22px;
    margin-bottom: 15px;

    input {
      font-family: var(--font-family-roboto-regular);
      font-size: 22px;
      color: #fff;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid #fff;
      width: 80px;
      margin: 0 10px;
    }
  }

  &--choice-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--submit-button {
    font-family: var(--font-family-roboto-regular);
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    border: 0.7px solid #cf92ff;

    box-shadow: none;
    border-radius: 0px;

    width: 179px;
    height: 55px;
    border-radius: 22px;
    cursor: pointer;
    background: linear-gradient(
        89.58deg,
        #826af7 2.95%,
        #db5dde 56.19%,
        #e87aaf 103.17%
      ),
      linear-gradient(0deg, #e49df4, #e49df4),
      radial-gradient(
        116.97% 116.97% at 34.87% -2.72%,
        #ff9bfb 0%,
        #ffffff 100%
      ),
      linear-gradient(
        94.63deg,
        rgba(255, 255, 255, 0.16) 4.94%,
        rgba(255, 255, 255, 0.04) 93.94%
      );
  }
  &--submit-button:disabled {
    cursor: default;
  }
  &--footer {
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      font-family: var(--font-family-roboto-regular);
      font-size: 16px;
    }

    button:hover {
      text-decoration: underline;
    }
  }
}
