@import '../../styles/mixins/scrollbar.scss';

.work-history-container {
  margin-top: 50px;
  // height: 580px;
  backdrop-filter: blur(40px);
  background: none;
  @include customScrollbar;

  .add-more-btn {
    display: flex;
    align-items: center;
    width: max-content;
    color: white;
    cursor: pointer;

    & > p {
      font-family: var(--font-family-roboto-flex);
      font-weight: 400;
      font-size: 21px;
      margin-right: 10px;
      width: 130px;
    }
  }
}

.workplace-card {
  width: 80%;
  color: white;
  margin-bottom: 45px;

  .role {
    font-family: var(--font-family-roboto-flex);
    font-weight: 500;
    font-size: 22px;

    &--edit {
      outline: none;
      border: none;
      background: rgba(60, 60, 70, 0.5);
      border: 0.7px solid #141414;
      padding: 5px 15px;
      border-radius: 8px;
      color: white;
    }
  }

  .organisation-date-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;

    a {
      text-decoration: underline;
      color: #fff;
    }

    .text {
      font-family: var(--font-family-roboto-flex);
      font-weight: 400;
      font-size: 14.7px;

      &--edit {
        outline: none;
        border: none;
        background: rgba(60, 60, 70, 0.5);
        border: 0.7px solid #141414;
        padding: 5px 15px;
        border-radius: 8px;
        color: white;
      }
    }

    & > span {
      margin: 0 15px;
    }
  }

  .title-delete-container {
    display: flex;
    align-items: center;

    & > svg {
      margin-left: 15px;
      cursor: pointer;
    }
  }

  .description {
    font-family: var(--font-family-roboto-flex);
    font-weight: 300;
    font-size: 16.5px;
    line-height: 26.5px;

    &--edit {
      resize: none;
      color: white;
      background: rgba(60, 60, 70, 0.5);
      border: 0.7px solid #141414;
      padding: 5px 15px;
      border-radius: 8px;
      outline: none;
      width: 100%;
      height: 120px;
    }
  }

  .input-date-container {
    display: flex;

    .input-select {
      background: rgba(60, 60, 70, 0.5);
      border: 0.7px solid #141414;
      padding: 5px 15px;
      border-radius: 8px;
      color: white;
      font-family: var(--font-family-roboto-flex);
      font-weight: 400;
      font-size: 14.7px;
      margin-right: 10px;
      cursor: pointer;
    }

    & > span {
      margin-right: 10px;
    }
  }
}
