.container {
  color: #fff;
  height: 100%;
  @media (max-width: 1920px)  {
    height:  120vh;
    width: 85vw;
  }
  @media (max-width: 1680px)  {
    height:  120vh;
    width: 70vw;
  }
  @media (max-width: 1440px)  {
    height:  120vh;
    width: 84vw;      
  }
  @media (max-width: 1024px) {
    height:  120vh;
    width: 92vw;
  }
  margin: auto;
  overflow: hidden;
  .heading {
    @media (max-width: 1920px)  {
      margin-left: 12.5%;
    }
    @media (max-width: 1680px)  {
      margin-left: 5.5%;
    }
    @media (max-width: 1440px)  {
      margin-left: 8%;
    }
    @media (max-width: 1024px) {
      margin-left: 13%;
    }
    margin-top: 2%;
    font-size: 25px;
  }
}
.cardsContainer {
  padding: 65px;
  display: grid;
  @media (max-width: 1920px)  {
    grid-template-columns: repeat(auto-fill, 200px);
    width: 70vw;
  }
  @media (max-width: 1680px)  {
    grid-template-columns: repeat(auto-fill, 210px);
    width: 69vw;
  }
  @media (max-width: 1440px)  {
    grid-template-columns: repeat(auto-fill, 200px);
    width: 79vw;
    flex-basis: 35%;
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, 180px);
    width: 80vw;
    flex-basis: 30%;
  }
  justify-content: space-between;
  grid-gap: 20px;
  align-items: flex-start;
  overflow-y: auto;
  margin: auto;
  & > div {
    margin-bottom: 25px;
  }
}
