.title {
  font-family: var(--font-family-roboto-medium);
  font-size: 25px;
  color: #FFFF;
  text-align: center;
  line-height: 27px;
  font-weight: 500;
  margin-top: 80px;
}


.connection-container {
  border: 1px solid #FFFF;
  border-radius: 23px;
  width: 338px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 34px;

  & > svg {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.connection-text {
  font-family: var(--font-family-roboto-regular);
  font-size: 14px;
  font-weight: 400;
  color: #FFFF;
  line-height: 16px;
}

.success-text {
  padding: 0px 30px;
  font-family: var(--font-family-roboto-regular);
  font-size: 16px;
  color: #FFFF;
  text-align: center;
  max-width: 507px;
  line-height: 26px;
  font-weight: 400;
}
