:root {
  --color-primary-light: #237aff;
  --color-primary-dark: #08289a;
  --color-secondary-green: #d4f9bb;
  --color-secondary-blue: #191a35;
  --color-secondary-pink: #ef7d7c;
  --color-currency-dropdown: #deebff;
}
