.container {
  color: #fff;
  // display: flex;
  align-items: baseline;
  width: 90%;
  margin: auto;
  z-index: 999;

  .project-name {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
  }

  .founder-name,
  .deposit-funds,
  .contract-address {
    margin-left: 25px;
    font-size: 16px;
    line-height: 28px;
  }

  .contract-address {
    margin-left: 0 !important;
    display: flex;
  }

  button {
    margin-left: 25px;
    background: linear-gradient(126.59deg,
        rgba(255, 255, 255, 0.12) 12.11%,
        rgba(255, 255, 255, 0.03) 73.08%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    width: 257px;
    height: 50px;
    font-size: 16px;
    color: #fff;
  }
  input {
    font-family: var(--font-family-roboto-flex);
    font-size: 16px;
    color: white;
    background: rgba(60, 60, 70, 0.5);
    border: 0.7px solid #141414;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
    width: 250px;
    height: 50px;
  }
  .editBtn{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: auto;
    height: auto;
  }
}
