.container {
  color: #fff;
  // display: flex;
  align-items: baseline;
  
 
  @media (max-width: 1920px)  {
    width: 72%;
    margin-top: 3%;
  }
  @media (max-width: 1680px)  {
    width: 78%;
    margin-top: 3%;
  }
  @media (max-width: 1440px)  {
  width: 88%;
  margin-top: 3%;
  }
  
  @media (max-width: 1024px) {
    width: 90%;
    margin-top: 3%;
  }
  
  margin: auto;
  z-index: 999;

  .project-info {
    display: flex;
    align-items: baseline;
    width: 89%;
    margin: auto;
    position: relative;
    .project-name {
      white-space: nowrap;
    }
    .project-name > p {
      font-family: var(--font-family-roboto-regular);
      font-style: normal;
      font-weight: 600;
      font-size: 29.82px;
      line-height: 42px;
      text-transform: capitalize;
    }

    .founder-name,
    .deposit-funds {
      font-family: var(--font-family-roboto-light);
      font-weight: 300;
      margin-left: 25px;
      font-size: 19.8819px;
      line-height: 23px;
    }

    .project-verified {
      margin-left: 20px;
    }
    .transparentBtn {
      
      background: linear-gradient(126.59deg,
          rgba(255, 255, 255, 0.12) 12.11%,
          rgba(255, 255, 255, 0.03) 73.08%);
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 23px;
      width: 223px;
      height: 55px;
      font-family: var(--font-family-roboto-regular);
      font-size: 18.225px;
      color: #fff;
      border: .7px solid #FF9BFB;
      background: linear-gradient(89.58deg, #C6BBFB 2.95%, #E59CF3 48.36%, #FFB8D5 103.17%),
      linear-gradient(0deg, #E49DF4, #E49DF4),
      radial-gradient(116.97% 116.97% at 34.87% -2.72%, #FF9BFB 0%, #FFFFFF 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
      ,
      linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%);
      font-weight: 400;
      font-size: 18px;
    }
    button {
      background: linear-gradient(126.59deg,
          rgba(255, 255, 255, 0.12) 12.11%,
          rgba(255, 255, 255, 0.03) 73.08%);
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      font-family: var(--font-family-roboto-regular);
      font-size: 18.225px;
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 19.0534px;
      width: 195.1px;
      height: 52.3px;
      color: #fff;
      border: .7px solid #FF9BFB;
      font-weight: 400;
      margin-left: 52.94px;
    }
    .buttonRight {
      position: absolute;
      right: 0;
    }
  }
  
  .contract-address {
    display: flex;
    margin-left: 5.4%;
    font-size: 16px;
    line-height: 28px;
  }
}
