.IconButton {
  $self: &;
  border-width: 1px;
  color: #fff;
  border-radius: 23px;
  border: none;
  width: 135px;
  height: 119px;
  cursor: pointer;
  font-family: var(--font-family-roboto-flex);
  font-size: 15.48px;
  font-weight: 500;
  line-height: 23px;
  background: linear-gradient(
    126.59deg,
    rgba(255, 198, 253, 0.133) 12.11%,
    rgba(255, 255, 255, 0.07) 73.08%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 23px;
  margin-right: 25px;

  &:disabled {
    background: #ebebe4;
    cursor: auto;
  }

  & > svg {
    border: 2px solid red;
  }
  & > p {
    font-family: var(--font-family-roboto-flex);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
}
.IconButton:last-child {
  margin-right: 0;
}

.IconButton-active {
  border: 0.7px solid #fff;
}

.show-border {
  border: 0.7px solid #cf92ff;
}
