.container {
  color: #fff;

  @media (max-width: 1920px) {
    width: 65%;
  }

  @media (max-width: 1680px) {
    width: 70%;
  }

  @media (max-width: 1440px) {
    width: 78.5%;
  }

  @media (max-width: 1024px) {
    width: 80%;
  }

  margin-top: 30px;
  margin-inline: auto;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .projectDescription {
    width: 40%;
  }

  .projectDetails {
    width: 57%;
  }

  .projectDescription,
  .projectDetails {
    font-family: var(--font-family-roboto-regular);
    font-size: 13.2546px;
    height: 198px;
    line-height: 24.83px;
    overflow-y: auto;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 20%);
    backdrop-filter: blur(40px);
    border-radius: 23px;
    border: 0.7px solid #ff9bfb;
    padding: 0 30px;

    font-weight: 400;
    font-size: 14px;

    & > h4 {
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      font-family: var(--font-family-roboto-regular);

      margin: 15px 0;
      text-align: center;
      text-decoration: underline;
    }
  }

  .inline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    :last-child {
      margin-bottom: 0;
    }

    svg {
      width: 18.85px;
      height: 18.85px;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

  & > div {
    width: 50%;
    display: flex;
    align-items: center;

    & > svg {
      margin-right: 10px;
    }
  }

  & .row-label {
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-family-roboto-medium);

    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;

    & a {
      color: white;
    }

    & i {
      font-size: 14px;
      cursor: pointer;
    }
  }

  & .row-value {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-family-roboto-regular);
  }

  & .smart-contract-value {
    text-decoration: underline;
    cursor: pointer;
  }
}
