.profile-skills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 10px 16px;
}

.profile-skill-tag {
  font-family: var(--font-family-roboto-flex);
  font-weight: 500;
  font-size: 14px;
  color: #4b4b4b;
  background-color: white;
  border-radius: 30px;
  padding: 11px 25px;
  margin: 0 14px 20px 14px;
}