.commit-task-container {
  color: white;
  padding: 20px;

  & > div {
    background: #2d2d35;
    border-radius: 30px;
    margin: 30px 0px 15px 0px;
    padding: 30px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  & > p {
    display: flex;
    justify-content: space-between;

    & > span:nth-child(1) {
      width: 60%;
      font-size: 14px;
      line-height: 16px;

      color: #cecece;
    }
  }

  & > button {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 155, 251, 0.2);
    border-radius: 23px;
    padding: 12px 32px;
    min-width: 150px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
}

.accept-task-content {
  display: block;
  min-height: 300px;
  background: #2d2d35;
  border-radius: 30px;
  text-align: center;
  padding: 40px;

  & > p:nth-child(2) {
    font-size: 26px;
    color: white !important;
    margin-top: 40px;
  }

  & > p:nth-child(3) {
    font-size: 14px;
    color: #b4b4b4 !important;
    margin-top: 20px;
  }

  & > p:nth-child(4) {
    display: flex;
    justify-content: center;
    color: #848484;
    font-size: 16px;
    margin-top: 40px;

    & > a {
      display: flex;
      color: #848484;
    }
  }

  & > button {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 155, 251, 0.2);
    border-radius: 23px;
    padding: 12px 32px;
    min-width: 150px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
}
