.organisation-projects-container-alternate {
  width: 90%;
  max-width: 1532px;
  margin-inline: auto;

  .organisation-heading,
  .projects-heading {
    color: white;
    font-family: var(--font-family-roboto-regular);
  }

  @media (max-width: 1920px) {
    width: 70%;
  }

  @media (max-width: 1680px) {
    width: 70%;
  }

  @media (max-width: 1440px) {
    width: 80%;
  }

  @media (max-width: 1024px) {}
}

.organisation-projects-container {
  width: 90%;
  max-width: 1532px;


  .organisation-heading,
  .projects-heading {
    color: white;
    font-family: var(--font-family-roboto-regular);
  }

  .projects-heading {

    font-size: 27px;
  }


  @media (max-width: 1920px) {
    width: 70%;
  }

  @media (max-width: 1680px) {
    width: 70%;
  }

  @media (max-width: 1440px) {
    width: 80%;
  }

  @media (max-width: 1024px) {}

  &--new-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: #fff;
      display: inline-flex;
      align-items: center;
      margin-bottom: 15px;
      border: 1px solid #d3d3d3;
      border-radius: 16px;
      padding: 0 15px;
      font-family: var(--font-family-roboto-regular);
      font-size: 13.75px;
      border: 1px solid #d3d3d3;
      border-radius: 16px;
      background: none;
      width: 115px;
      height: 38px;
      cursor: pointer;
    }
  }


}

.organisation-project-card {
  min-width: 215px;
  width: 250px;
  min-height: 290px;
  margin-right: 20px;

  padding: 20px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%);
  backdrop-filter: blur(40px);
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);

  & header {
    & .text--primary {
      margin-top: 14px;
      font-family: var(--font-family-roboto-flex);
      font-size: 22px;
    }

    & .text--secondary {
      font-family: var(--font-family-roboto-regular);
      font-size: 16px;
    }
  }

  & .text-content {
    font-family: var(--font-family-roboto-flex);
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }

  & footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .text-extra {
      font-family: var(--font-family-roboto-medium);
      font-size: 14px;
    }

    & .icon {
      font-size: 22px;
      cursor: pointer;
    }
  }
}

.organisation-project-cards-container {
  width: 78%;
  display: flex;
  overflow-x: scroll;
  padding: 15px 0;
  gap: 20px;
  margin: 0 0;

  @media (max-width: 1920px) {
    width: 48%;
    gap: 115px;
    position: absolute;
    left: 15%;
  }

  @media (max-width: 1680px) {
    width: 45%;
    left: 14.5%;
    gap: 50px;
  }

  @media (max-width: 1440px) {
    width: 50%;
    left: 10%;
    gap: 45px;
  }
}

.organisation-project-cards-container-alternate {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  padding: 15px 0;
  gap: 49px;
  justify-content: flex-start;
  margin: auto;
}
