.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 2;
}

.overlay {
  position: fixed;
  padding: 33px;
  background: #272833;
  box-shadow: 0px 2px 52px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  z-index: 2;

  & .icon-cont {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 33px;
    top: 33px;
    z-index: 2;

    & .icon {
      font-size: 24px;
      color: white;
    }
  }
}
