.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.overlay {
	position: fixed;
	width: 617px;
	padding: 33px;
	background: rgba(41, 41, 50, 0.5);
	top: 50%;
	left: 50%;
  border-radius: 20px;
	transform: translateX(-50%) translateY(-50%);

	& .icon-cont {
		border: none;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		position: absolute;
		right: 33px;
		top: 33px;

		& .icon {
			font-size: 24px;
			color: white;
		}
	}
}