.container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 45px 0;
  color: #fff;
}
.logo {
  position: absolute;
  top: 35px;
  left: 45px;
}
.text {
  padding: 42px;
  font-family: var(--font-family-roboto-regular);
  line-height: 1.5rem;
}
.space {
  height: 10px;
}
.glass {
  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    126.59deg,
    rgba(255, 255, 255, 0.12) 12.11%,
    rgba(255, 255, 255, 0.03) 73.08%
  );
  backdrop-filter: blur(40px);
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
}
.para {
  text-align: justify;
}
