.profile-organisation-container {
  width: 650px;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32.97px;
  margin-top: 35.72px;
  overflow-y: auto;
  justify-content: flex-start;
}

.cardsContainer {
  height: 221.21px;
  width: 193.47px;
  border: 0.43px solid #d39bff;
  margin-bottom: 44.2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h3 {
    font-size: 20.82px;
  }
  p {
    font-size: 13.88px;
  }
}

.organisation-image-wrapper {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.organisation-default-image {
  margin: 0 auto;
  margin-bottom: 20px;
}
