.login-modal {
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 100%;

  &--section-heading {
    font-size: 21px;
    font-weight: 500;
  }

  &--wallets {
    width: 50%;

    &>h2 {
      padding-top: 35px;
    }
  }

  &--details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #2D2D35;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    padding: 35px 32px;
  }

  span>p {
    font-size: 15px;
    font-family: var(--font-family-roboto-flex);
  }

  &--section-sub-heading {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-family-roboto-flex);
  }

  &--get-wallet-btn {
    background: linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%), linear-gradient(89.58deg, #826AF7 2.95%, #DB5DDE 56.19%, #E87AAF 103.17%);
    box-shadow: 0px 3.27273px 3.27273px rgba(204, 204, 204, 0.1);
    border-radius: 18px;
    width: 151.82px;
    height: 48.06px;
    cursor: pointer;
    color: #fff;
    font-family: var(--font-family-roboto-regular);
    font-size: 14.7273px;
  }
}
