.create-task-title {
  font-family: var(--font-family-roboto-flex);
  font-weight: 600;
  // font-size: clamp(1.75rem, 2.5vw, 2.125rem);
  font-size: clamp(1.5rem, 2vw, 1.75rem);
  color: white;
  // margin-bottom: 60px;
  margin-bottom: max(30px, 8%);
}

.create-task-content {
  display: flex;
  flex-direction: column;
  margin-bottom: min(2vh, 1rem);
}

.create-task-form-row {
  display: flex;
  gap: max(2vw, 1.5rem);
  flex-wrap: wrap;
  margin-bottom: min(3vh, 1.5rem);
}

.task-name-field {
  background: #2d2d35;
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 10px;
  padding: 0 15px;

  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  // font-size: 21px;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  height: 50px;

  z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);

  &::placeholder {
    color: white;
    // font-size: 18px;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }
}

.task-description-field {
  resize: none;
  background: #2d2d35;
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 10px;
  padding: 10px 15px;
  height: 110px;

  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  // font-size: 21px;
  font-size: clamp(1rem, 1.5vw, 1.2rem);

  margin-bottom: min(3vh, 1.5rem);
  // z-index: 1;

  &::placeholder {
    color: white;
    // font-size: 18px;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }
}

.difficulty-price-label {
  font-family: var(--font-family-roboto-flex);
  font-weight: 500;
  // font-size: clamp(1.25rem, 1.6vw, 1.4rem);
  font-size: clamp(1.2rem, 1.5vw, 1.3rem);
  color: white;
  margin-bottom: min(2vh, 1rem);
}

.task-price-field {
  width: 100%;
  height: 50px;
}

.select-category-field {
  z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.difficulty-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.task-skills-container {
  margin-bottom: min(3vh, 1.5rem);
}

.profile-skill-modal-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: min(2.5vh, 1rem);
  // width: 80%;
  // margin: 40px auto 60px;
}

.profile-skill-modal-tag {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 30.5px;
  margin: 0 10px;
  margin-bottom: 20px;
  // z-index: 1;

  & > span {
    font-family: var(--font-family-roboto-regular);
    font-weight: 400;
    font-size: 14px;
    margin-right: 15px;
  }

  & > i {
    font-size: 20px;
    cursor: pointer;
  }
}

.task-checklist-container {
  z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.add-more-btn {
  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  color: white;
  display: flex;
  border: 1px solid white;
  width: max-content;
  border-radius: 3px;
  padding: 0 10px;
  cursor: pointer;
  // z-index: 1;

  & > i {
    margin-left: 5px;
  }
}

.checklist-item-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;

  & > span {
    width: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 3px;
  }

  & > input {
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid;
    width: min(100%, 20rem);
  }

  & > i {
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
}

.task-attachments-container {
  // z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.file-input-container {
  min-height: 120px;
  // width: 604px;
  width: min(30rem, 100%);
  border: 1px dashed white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  cursor: pointer;
}

.file-upload-text {
  font-family: var(--font-family-roboto-flex);
  font-size: 18px;
  color: white;
}

.attachments {
  display: none;
}

.file-attachment-card {
  color: white;
  display: flex;
  align-items: center;
  border: 0.6px solid #e8e8e8;
  border-radius: 10px;
  padding: 5px 10px;

  & > i {
    font-size: 20px;
  }

  & > span {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 14px;
    margin-inline: 5px;
  }
}
