$error-color: #c0392b;

.page-container {
  background-color: #242529;
 
}

.create-task-title {
  font-family: var(--font-family-roboto-flex);
  font-weight: 500;
  font-size: 25px;
  color: white;
  margin-bottom: 57.91px;
}

.create-task-content {
  display: flex;
  flex-direction: column;
  margin-bottom: min(2vh, 1rem);
}

.create-task-form-row {
  display: flex;
  gap: max(2vw, 1.5rem);
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.task-name-field {
  background: #2d2d35;
  color: white;
  border: 0.56491px solid #FFFFFF;
  outline: none;
  border-radius: 10px;
  padding: 0 15px;
  
  font-family: var(--font-family-roboto-flex);
  font-weight: 100;
  font-size: 14px;
  height: 38px;

  flex-grow: 1;

  &::placeholder {
    font-family: var(--font-family-roboto-flex);
    color: #fbfbfb;
    font-weight: 100;
    font-size: 14px;
  }

  &::-webkit-calendar-picker-indicator {
    background-color: white;
    cursor: pointer;
  }

  &--error {
    border-color: $error-color;
  }
}

.task-description-field {
  resize: none;
  background: #2d2d35;
  color: white;
  border: 0.56491px solid #FFFFFF;
  outline: none;
  border-radius: 10px;
  padding: 10px 15px;
  height: 67.79px;

  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 1.2rem);

  margin-bottom: 25px;

  &::placeholder {
    font-family: var(--font-family-roboto-flex);
    color: #fbfbfb;
    font-weight: 100;
    font-size: 14px;
  }
}

.difficulty-price-label {
  font-family: var(--font-family-roboto-flex);
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-bottom: 10.25px;
}

.task-price-field {
  width: 100%;
  height: 38px;
}

.select-category-field {
  z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.difficulty-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.task-skills-container {
  margin-bottom: 25px;
}

.profile-skill-modal-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: min(2.5vh, 1rem);
}

.profile-skill-modal-tag {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border: 0.56491px solid #FFFFFF;
  border-radius: 30.5px;
  margin: 0 10px;
  margin-bottom: 20px;
  // z-index: 1;

  & > span {
    font-family: var(--font-family-roboto-regular);
    font-weight: 400;
    font-size: 14px;
    margin-right: 15px;
  }

  & > i {
    font-size: 20px;
    cursor: pointer;
  }
}

.task-checklist-container {
  // z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.add-more-btn {
  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: 11.3px;
  color: white;
  display: flex;
  width: max-content;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  // z-index: 1;
  & > i {
    margin-left: 2px;
    font-size: 12px;
  }
}

.checklist-item-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;

  & > span {
    width: 14px;
    height: 14px;
    border: 0.56491px solid #FFFFFF;
    border-radius: 3px;
  }

  & > input {
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--font-family-roboto-regular);
    font-weight: 300;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid;
    width: min(100%, 20rem);
  }

  & > i {
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
}

.task-attachments-container {
  // z-index: 1;
  flex-grow: 1;
  width: min(100%, 15rem);
}

.file-input-container {
  min-height: 120px;
  width: min(30rem, 100%);
  border: 0.56491px dashed #F5F5F5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  cursor: pointer;
}

.file-upload-text {
  font-family: var(--font-family-roboto-flex);
  font-weight: 100;
  font-size: 14px;
  color: #FBFBFB;
}

.attachments {
  display: none;
}

.file-attachment-card {
  color: white;
  display: flex;
  align-items: center;
  border: 0.6px solid #e8e8e8;
  border-radius: 10px;
  padding: 5px 10px;

  & > i {
    font-size: 20px;
  }

  & > span {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 14px;
    margin-inline: 5px;
  }
}

.difficulty-rating-container {
  display: flex;
  align-items: center;

  & > span {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }
}

.rating-star {
  font-size: 20px;
  margin-left: 5px;
  color: #fbc579;
}
