.banner {
  padding: 24px;
  height: 200px;
  // margin: 0px 75px;
  margin: auto;
  @media (min-width: 1440px) {
    width:70%;
  }
  @media (min-width: 1024px) and (max-width: 1440px) {
    width: 90%;
  }

  display: flex;
  justify-content: space-between;
  background-color: purple;
  border-radius: 20px;
  background: url('/src/assets/illustrations/home/banner-bg.png') center;
  border: 1px solid #d39bff;
  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin-left: 40px;
    & .text {
      &--secondary {
        font-size: 27px;
        line-height: 123.19%;
        font-family: var(--font-family-roboto-light);
      }
      &--primary {
        font-family: var(--font-family-asap-bold);
        font-size: 50px;
        line-height: 123.19%;
        text-transform: capitalize;
      }
    }
  }
}

.bannerBtn {
  background-color: transparent;
  min-width: 238px;
  height: 54px;
  padding: 18px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;


  background: linear-gradient(126.59deg, rgba(255, 255, 255, 0.12) 12.11%, rgba(255, 255, 255, 0.03) 73.08%);
  box-shadow: 0px 3.40709px 20.4425px -0.851771px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(34.0709px);

  &:first-of-type {
    margin-bottom: 30px;
  }

   border: 0.7px solid #cf92ff;
  // border-image: linear-gradient(to right, rgba(207, 146, 255, 1)  , rgba(255, 255, 255, 1) ) 1;
   border-radius: 19px;

  & .title {
    font-family: var(--font-family-roboto-regular);
    font-size: 18px;
  }

  & .icon {
    font-size: 18px;
  }
}

.glass {
  // background: url('/src/assets/illustrations/home/banner-bg.png') cover;
  // background: linear-gradient(
  //   126.59deg,
  //   rgba(255, 255, 255, 0.12) 12.11%,
  //   rgba(255, 255, 255, 0.03) 73.08%
  // );
  // backdrop-filter: blur(40px);
  // -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  // -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  // box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
}
