.project-template-modal {
  display: flex;
  justify-content: space-between;
  height: 85%;

  &--picker {
    width: 25%;

    h2 {
      font-family: var(--font-family-roboto-regular);
      font-weight: 500;
      font-size: 15.2473px;
    }

    .template-option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 55px;
      background: rgba(217, 217, 217, 0.1);
      border: 0.56491px solid #858585;
      border-radius: 10px;
      margin-bottom: 15px;
      cursor: pointer;
      &--title {
        color: #858585;
        margin-left: 19px;
      }
    }
  }

  &--preview {
    width: 70%;

    .template-name {
      font-family: var(--font-family-roboto-regular);
      font-weight: 500;
      font-size: 18px;
      margin: 10px 0;
      padding: 0px 5px;
    }

    .gif-preview {
      height: 70%;

      img {
        width: 100%;
      }

    }

    .text-content {
      display: flex;

      &>p {
        font-family: var(--font-family-roboto-flex);
        font-weight: 400;
        font-size: 14px;
        padding: 0px 5px;
        color: #fff;
        min-height: 125px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        color: #fff;
        width: 131.44px;
        height: 45px;
        cursor: pointer;
        border: .7px solid #E49DF4;
        font-weight: 400;
        font-size: 13.76px;
        padding: 4px 13px 4px 13px;

      }

      :nth-child(1) {
        font-family: var(--font-family-roboto-regular);
        background: linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%), linear-gradient(89.58deg, #826AF7 2.95%, #DB5DDE 56.19%, #E87AAF 103.17%);
        box-shadow: 0px 3.44px 3.44px rgba(204, 204, 204, 0.1);
        border-radius: 18.92px;
        margin-bottom: 10px
      }

      :nth-child(2) {
        background: linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%);
        box-shadow: 0px 3.44px 3.44px rgba(204, 204, 204, 0.1);
        border-radius: 18.92px;
      }
    }
  }
}
