.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-width: 393px;
	flex: 1;
	z-index: 2;

	& > .image-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    & > .image {
      overflow: hidden;
      width: 76px;
      height: 76px;
      border-radius: 30px;

      > img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

	& > p {
		font-family: var(--font-family-roboto-regular);
		font-weight: 500;
		text-align: center;
		text-transform: capitalize;
		color: #ffffff;

		&.text {
			&--primary {
				font-size: 22px;
			}
	
			&--secondary {
				font-size: 13px;
			}

			&--addn {
				font-size: 11px;
			}
		}

	}
}

.btnCont {
	display: flex;
	align-items: center;
	justify-content: center;

	.btn {
		min-width: 188px;
		padding: 12px 23px;
		color: white;
		cursor: pointer;
	
		$border: 1px;
		border: solid $border rgb(255, 255, 255); /* !importanté */
		border-radius: 16px;
	
		font-family: var(--font-family-roboto-regular);
		font-size: 16px;
		font-weight: 400;
		text-align: center;
	
		background: rgba(255,255,255, 0.3);
		background: linear-gradient(126.59deg, rgba(255,255,255,0.12) 12.11%, rgba(255,255,255,0.03) 73.08%);
		backdrop-filter: blur(40px);
		-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.66);
		-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.66);
		box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.66);
	}
}
