.complete-task-container {
    padding: 10px;
    color: white;

    .important-content {
        &>p:nth-child(1) {
            margin-top: 40px;
            font-size: 26px;
            text-align: center;
        }

        &>p:nth-child(2) {
            margin: 20px 0;
            text-align: center;
        }

        &>button {
            background: linear-gradient(94.63deg, rgba(255, 255, 255, 0.16) 4.94%, rgba(255, 255, 255, 0.04) 93.94%), linear-gradient(89.58deg, #C6BBFB 2.95%, #E59CF3 48.36%, #FFB8D5 103.17%);
            box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
            border-radius: 23px;
            color: white;
            font-size: 18px;
            padding: 8px 38px;
            border: 1px solid #FFB8D5;
            display: block;
            margin: auto;
            cursor: pointer;
        }
    }

    .confirming-content {
        padding: 40px 10px 20px 10px;

        &>p {
            text-align: center;
            margin-top: 20px;
        }

        &>p:nth-child(2) {
            font-size: 24px;
        }

        &>svg {
            display: block;
            margin: auto;
        }
    }
}