.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  @media (min-width: 1440px) {
    width: 80%;
  }
  @media (min-width: 1024px) and (max-width: 1440px) {
    width: 95%;
  }

  // align-items: center;
  padding: 35px 75px;
  max-height: 191px;

  & .actions {
    display: flex;
    justify-content: space-between;
  }

  & .logo {
    cursor: pointer;
    margin-top: 14px;
  }
}
