.nav {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 54px;
  max-height: 191px;

  & .actions {
    display: flex;
    justify-content: space-between;
  }

  & .logo {
    cursor: pointer;
  }
}