.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;

  @media (min-width: 1440px) {
    width: 80%;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    width: 90%;
  }

  padding: 35px 75px;
  @media (min-width: 375px) and (max-width: 490px) {
    padding: 15px 45px;
  }
  max-height: 191px;

  & .actions {
    display: flex;
    justify-content: space-between;
  }

  & .logo {
    cursor: pointer;
    margin-top: 14px;
  }
}
