.container {
  background-color: #242529;
  padding-bottom: 55px;

	.content {
		margin: 0 72px;

		.section {
			margin-top: 84px;
			display: flex;
			.child {
				& > p {
					color: white;
					font-family: var(--font-family-roboto-regular);
					font-size: 27px;
					padding-bottom: 54px;
				}

				& > p.whitePaper {
					padding-bottom: 36px;
				}

				& > div {
					min-height: 285px;
					display: flex;
					flex-direction: column;
				}

				& > a {
					color: white;
					font-family: var(--font-family-roboto-regular);
					font-size: 16px;
					padding-bottom: 6px;
					border-bottom: 1px solid white;
				}
			}
		}
	}
}

.description {
	padding: 41px 43px;
	margin-right: 63px;
	flex: 1;
	z-index: 2;

  p {
		color: #ffffff;
		font-family: var(--font-family-roboto-regular);
		font-weight: 400;
		line-height: 1.8;
		font-size: 18px;
	}
}