.organisation-container {
  background-color: #242529;
  height: 100vh;

  &--founder {
    display: flex;
  }

  & > .organisation-content-container {
    flex-grow: 1;
    overflow-y: auto;
    z-index: 1;
  }

  & > .organisation-projects-wrap {
    margin: auto;

    h3 {
      font-family: var(--font-family-roboto-flex);
      font-size: 19.25px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  & > .organisation-jobs-wrap {
    margin: auto;
  }

  & > .organisation-templates-wrap {
    margin: auto;

    div {
      justify-content: space-between;
    }

    h2 {
      color: #fff;
      margin-bottom: 15px;
    }
  }
}
