.container {
  height: 200px;
  overflow: hidden;
  position: relative;
  border: 1px solid #d39bff;

  margin: auto;
  border-radius: 20px;
  background: linear-gradient(
    126.59deg,
    rgba(255, 255, 255, 0.12) 12.11%,
    rgba(255, 255, 255, 0.03) 73.08%
  );

  @media (max-width: 1920px) {
    width: 70%;
  }

  @media (max-width: 1680px) {
    width: 70%;
  }

  @media (max-width: 1440px) {
    width: 80%;
  }

  @media (max-width: 1024px) {
    width: 80%;
  }
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  -webkit-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.attachments {
  display: none;
  z-index: 10;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1532px;
  margin-inline: auto;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  opacity: 0.7;
}

.organisation-name {
  font-family: var(--font-family-roboto-regular);
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  line-height: 41px;
  font-weight: 600px;

  &--edit {
    background: rgba(60, 60, 70, 0.5);
    border: 0.7px solid #141414;
    border-radius: 10.4px;
    outline: none;

    font-family: var(--font-family-roboto-semibold);
    color: white;
    font-size: 24px;
    padding: 15px 10px;
    margin-bottom: 30px;
  }
}

.org-socials {
  align-items: flex-start !important;
}

.socials-row {
  color: white;
  display: flex;
  gap: 40px;

  &:nth-child(2) {
    margin-top: 20px;
  }

  & > .socials-header {
    font-family: var(--font-family-roboto-regular);
    font-size: 21px;
    font-weight: 500px;
  }

  & > .organisation-website {
    font-family: var(--font-family-roboto-regular);
    font-size: 21px;
    font-weight: 500px;
    color: white;

    &--edit {
      background: rgba(60, 60, 70, 0.5);
      border: 0.7px solid #141414;
      border-radius: 10.4px;
      outline: none;

      font-family: var(--font-family-roboto-semibold);
      color: white;
      font-size: 20px;
      padding: 10px;
    }
  }

  & > .social-icon-container {
    width: 150px;
    display: flex;
    justify-content: flex-start;

    &--edit {
      background: rgba(60, 60, 70, 0.5);
      border: 0.7px solid #141414;
      border-radius: 10.4px;
      cursor: pointer;

      font-family: var(--font-family-roboto-semibold);
      color: white;
      font-size: 20px;
      padding: 8px;
      width: 250px;
    }
  }
}

.coverPicBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  color: #fff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.blurredLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  color: #fff;
  filter: grayscale(100%);

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > img {
    width: 100%;
    height: 100%;
  }
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  color: #fff;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > img {
    width: 100%;
    height: 100%;
  }
}

.logo-svg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;

  .centeredEdit {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
}

.bgImageDefault {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.7;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn {
  min-width: 225px;
  padding: 14px 40px;
  color: white;
  cursor: pointer;

  $border: 1px;
  border: solid $border rgb(255, 255, 255);
  /* !importanté */
  border-radius: 23px;

  font-family: var(--font-family-roboto-regular);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

  background: linear-gradient(
    94.3deg,
    rgba(255, 255, 255, 0.12) 8.58%,
    rgba(255, 255, 255, 0.03) 96.04%
  );
  box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.5);
  backdrop-filter: blur(64.767px);

  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);

  &:disabled {
    cursor: not-allowed;
  }
}

.social-title {
  font-family: var(--font-family-roboto-flex);
  font-weight: 600;
  font-size: 32px;
  color: white;
  margin-bottom: 60px;
}

.social-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;

  .social-input-title {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 21px;
  }

  .social-input-field {
    background-color: #2d2d35;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 48px;
    padding: 0 20px;
    z-index: 1;

    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 19px;
  }
}

.buttons-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  button {
    background-color: transparent;
    min-width: 238px;
    height: 54px;
    padding: 18px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 3.40709px 20.4425px -0.851771px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(34.0709px);

    &:first-of-type {
      margin-bottom: 30px;
    }

    border: 0.7px solid #cf92ff;
    // border-image: linear-gradient(to right, rgba(207, 146, 255, 1)  , rgba(255, 255, 255, 1) ) 1;
    border-radius: 19px;

    & .title {
      font-family: var(--font-family-roboto-regular);
      font-size: 18px;
    }

    & .icon {
      font-size: 18px;
    }
  }
}
