.timezone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 18px;

  & > svg {
    margin-right: 12px;
  }

  & > span {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
  }
}
