.org-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  flex-wrap: wrap;
 
}
.org-image {
  border-radius: 50%;
  width: 135px;
  height: 135px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 2;

  & p {
    margin-top: 32px;
    font-family: var(--font-family-roboto-flex);
    font-size: 16px;
    color: white;
  }
}

.icon-cont {
  width: 135px;
  height: 135px;
  background: rgba(39, 40, 51, 1);
  border-radius: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCont {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    min-width: 280px;
    padding: 18px 20px;
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 2;

    $border: 1px;
    border: solid $border rgb(255, 255, 255); /* !importanté */
    border-radius: 23px;

    font-family: var(--font-family-roboto-regular);
    font-size: 24px;
    text-align: center;

    background: rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    backdrop-filter: blur(40px);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  }
}
