.chat-prompts-container {
  &--chat-message {
    display: flex;
    width: 79%;
    margin: auto;
    margin-top: 100px;

    & > .user-image {
      background: #000;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > .user-choices {
      background: rgba(0, 0, 0, 0.25);
      border-radius: 18.5481px;
      padding: 25px 50px;

      font-family: var(--font-family-roboto-regular);
      font-weight: 400;
      font-size: 1.25rem;

      & > form {
        display: flex;
        justify-content: space-between;
        width: 520px;
        min-height: 108px;
        margin-top: 20px;

        & .choice-option {
          color: #fff;
          width: 234px;
          height: 203px;
          background: linear-gradient(
            58.93deg,
            rgba(52, 52, 52, 0.8) 4.08%,
            rgba(52, 52, 52, 0.408) 102.71%
          );
          border-radius: 24.4032px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-family: var(--font-family-inter-regular);
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          will-change: transform;
          transition: transform 450ms;
          animation: messageShow;
          animation-duration: 1s;
          border: 1.64px solid;

          border-image-source: linear-gradient(0deg, #ffffff, #ffffff),
            linear-gradient(0deg, #606060, #606060);

          @keyframes messageShow {
            0% {
              transform: translateY(32px);
              opacity: 0;
              visibility: hidden;
            }

            100% {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;
            }
          }

          & > input {
            display: none;
          }
        }

        & .active {
          transition: transform 125ms;
          transform: translateY(-4px);
          border: 0.94px solid #555555;
          transition: transform 125ms;
          transform: translateY(-4px);
          background: linear-gradient(
              94.63deg,
              rgba(255, 255, 255, 0.16) 4.94%,
              rgba(255, 255, 255, 0.04) 93.94%
            ),
            linear-gradient(
              89.58deg,
              #826af7 2.95%,
              #db5dde 56.19%,
              #e87aaf 103.17%
            );
          box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
        }

        & > .choice-option:hover {
          transition: transform 125ms;
          transform: translateY(-4px);
        }
      }
    }
  }
}
