.assign-task-container {
  color: white;
  position: relative;

  h2 {
    font-family: var(--font-family-roboto-regular);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }

  .project-action-delete {
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 30px;

    & > span {
      display: flex;

      & > span {
        margin-left: 15px;
        text-decoration: underline;
      }
    }

    & > button {
      display: block;
      margin: 40px auto;
      cursor: pointer;
      background: linear-gradient(
        126.59deg,
        rgba(255, 255, 255, 0.12) 12.11%,
        rgba(255, 255, 255, 0.03) 73.08%
      );
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      border: 1px solid rgba(255, 155, 251, 0.2);
      border-radius: 23px;
      padding: 12px 32px;
      min-width: 150px;
      font-size: 20px;
      text-align: center;
      color: #ffffff;
    }
  }

  & > button {
    display: flex;
    align-items: center;
  }

  .founder-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--font-family-roboto-regular);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .token-id {
    color: #94969e;
  }

  .avatar-container {
    display: flex;
    margin-top: 20px;

    button {
      background: linear-gradient(
        126.59deg,
        rgba(255, 255, 255, 0.12) 12.11%,
        rgba(255, 255, 255, 0.03) 73.08%
      );
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      border: 1px solid #ffffff;
      border-radius: 12px;
      padding: 10px 24px;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
    }

    & > div {
      display: flex;
      margin-left: 100px;
    }

    .builder-avatar {
      background-color: #d39bff;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: -20px;
      border: 1px solid white;
      cursor: pointer;
    }
  }

  .project-details {
    background: #2d2d35;
    border-radius: 28px;
    padding: 15px;
    margin-top: 30px;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
    }

    .project-detail-item {
      display: flex;
      align-items: center;
      width: 50% !important;
      font-family: var(--font-family-roboto-regular);
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      & > div {
        padding-left: 20px;
        display: flex;
        align-items: center;

        & > span {
          line-height: 23px;
        }

        .rating-star {
          color: #fff1ac;
        }
      }
    }
  }

  .project-description {
    & > p {
      font-family: var(--font-family-roboto-flex);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      padding: 15px;
      padding-left: 25px;
    }
  }

  .project-check-list {
    & > p {
      font-family: var(--font-family-roboto-regular);
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
    }
  }

  .project-description {
    & > .task-details-skills-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & > .task-details-skills-inline > div:nth-child(1) {
      width: 200px;
      display: flex;
      align-items: center;
    }
    & > .task-details-skills-inline > div:nth-child(1) > p {
      margin-left: 20px;
    }
  }

  .project-description,
  .project-check-list {
    background: #2d2d35;
    border-radius: 28px;
    padding: 15px 32px;
    margin-top: 30px;

    & > .task-check-list-container {
      font-family: var(--font-family-roboto-regular);
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;

      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .task-check-list-content {
        display: flex;
        align-items: center;

        & > .task-checklist-box {
          width: 14px;
          height: 14px;
          border: 1px solid white;
          border-radius: 3px;

          &--completed {
            background-color: white;
          }
        }

        & .task-check-icon {
          color: #272833;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }

        & > span {
          margin: 0 20px;
          font-size: 16px;
          font-family: var(--font-family-roboto-flex);

          color: white;
          cursor: pointer;
        }

        & > svg {
          cursor: pointer;
        }
      }
    }

    .project-attachments {
      padding: 10px 20px;

      & > div {
        margin-right: 10px;
      }
    }
  }

  .talent-list-container {
    & > h3 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .talent-list-item-container {
      display: flex;
      align-items: center;
      border-bottom: 0.5px solid #747474;

      .builder {
        width: 30%;
        display: flex;
        align-items: center;
        padding: 10px 0;

        .builder-avatar {
          background-color: #d39bff;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid white;
          cursor: pointer;

          & > img {
            object-fit: cover;
            width: 36px;
            height: 36px;
          }
        }

        .builder-name {
          font-family: var(--font-family-roboto-flex);
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin-left: 15px;
        }
      }

      .builder-position {
        width: 40%;
        font-family: var(--font-family-roboto-flex);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }

      .action {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 30%;

        .btn-approve {
          border: 1px solid #a1b4e5;
          border-radius: 5px;
          cursor: pointer;
          padding: 5px 10px;
          font-size: 14px;
          color: #a1b4e5;
          min-width: 80px;
          text-align: center;
          font-family: var(--font-family-roboto-flex);
          font-style: normal;
          font-weight: 400;
          font-size: 12px;

          /* identical to box height */
        }

        .btn-reject {
          border: 1px solid #eba8d0;
          border-radius: 5px;
          cursor: pointer;
          padding: 5px 10px;
          font-size: 14px;
          color: #eba8d0;
          min-width: 80px;
          text-align: center;
          margin-left: 20px;
          font-family: var(--font-family-roboto-flex);
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
        }

        .selected-builder {
          margin-right: 30px;
        }
      }
    }

    .btn-back {
      display: block;
      margin: 40px auto;
      cursor: pointer;
      background: linear-gradient(
        126.59deg,
        rgba(255, 255, 255, 0.12) 12.11%,
        rgba(255, 255, 255, 0.03) 73.08%
      );

      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);
      border: 1px solid rgba(255, 155, 251, 0.2);
      border-radius: 23px;
      padding: 12px 32px;
      min-width: 129px;
      height: 55px;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.file-attachment-card {
  color: white;
  display: inline-flex;
  align-items: center;
  border: 0.6px solid #e8e8e8;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  & > i {
    font-size: 20px;
    transform: rotate(-36deg);
  }

  & > span {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 14px;
    margin-inline: 5px;
  }
}

.select-builder-container {
  // padding: 30px;
  color: white;

  .selected-builder-details {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;

    & > p {
      font-family: var(--font-family-roboto-flex);
      font-style: normal;
      font-weight: 300;
      font-size: 13.4458px;
      line-height: 16px;
      margin-left: 3%;
    }

    & > p > a {
      color: #fff;
      font-weight: 600;
      font-family: var(--font-family-roboto-flex);
      font-size: 19.4217px;
    }

    & > img {
      border-radius: 50%;
    }
  }

  & > div {
    background: #2d2d35;
    border-radius: 30px;
    padding: 20px;
    margin-top: 12%;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 0;
    }
  }

  & > h1 {
    margin-left: 5%;
    font-size: 25px;
  }

  & > p {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

    & > span:nth-child(1) {
      color: #c4c4c4;
      font-size: 12px;
    }
  }

  & > button {
    display: block;
    margin: 25px auto;
    cursor: pointer;
    background: linear-gradient(
        94.63deg,
        rgba(255, 255, 255, 0.16) 4.94%,
        rgba(255, 255, 255, 0.04) 93.94%
      ),
      linear-gradient(89.58deg, #c6bbfb 2.95%, #e59cf3 48.36%, #ffb8d5 103.17%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 155, 251, 0.2);
    border-radius: 23px;
    padding: 12px 32px;
    min-width: 150px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    width: 148px;
    height: 55px;
  }
}

.accept-task-content {
  display: block;
  min-height: 300px;
  background: #2d2d35;
  border-radius: 30px;
  text-align: center;
  padding: 40px;

  & > p:nth-child(2) {
    font-size: 26px;
    color: white !important;
    margin-top: 40px;
  }

  & > p:nth-child(3) {
    font-size: 14px;
    color: #b4b4b4 !important;
    margin-top: 20px;
  }

  & > p:nth-child(4) {
    display: flex;
    justify-content: center;
    color: #848484;
    font-size: 16px;
    margin-top: 40px;

    & > a {
      display: flex;
      color: #848484;
    }
  }

  & > button {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 155, 251, 0.2);
    border-radius: 23px;
    padding: 12px 32px;
    min-width: 150px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
}

.commit-task-container {
  color: white;
  padding: 20px;

  & > div {
    background: #2d2d35;
    border-radius: 30px;
    margin: 30px 0px 15px 0px;
    padding: 30px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  & > p {
    display: flex;
    justify-content: space-between;

    & > span:nth-child(1) {
      width: 60%;
      font-size: 14px;
      line-height: 16px;

      color: #cecece;
    }
  }

  & > button {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 155, 251, 0.2);
    border-radius: 23px;
    padding: 12px 32px;
    min-width: 150px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
}

.checklist-url {
  border: none;
  outline: none;
  background-color: #3f3f47;
  border-radius: 3px;
  width: 45%;

  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  color: white;
  font-size: 16px;
}

.cancel-task-container {
  background: #2d2d35;
  border-radius: 28.475px;
  transform: rotate(0.23deg);
  padding: 15px;
  margin-top: 30px;

  & > svg {
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  & > div {
    width: 60%;
    margin: auto;

    & > p {
      text-align: center;
      margin-top: 20px;
    }
  }

  & > p {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
  }

  .actions {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    .go_back {
      padding: 10px 20px;
      color: white;
      background: linear-gradient(
          94.63deg,
          rgba(255, 255, 255, 0.16) 4.94%,
          rgba(255, 255, 255, 0.04) 93.94%
        ),
        linear-gradient(
          89.58deg,
          #c6bbfb 2.95%,
          #e59cf3 48.36%,
          #ffb8d5 103.17%
        );
      box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
      border-radius: 23px;
      border: 0.94px solid;
      border-image-source: linear-gradient(0deg, #e49df4, #e49df4),
        radial-gradient(
          116.97% 116.97% at 34.87% -2.72%,
          #ff9bfb 0%,
          #ffffff 100%
        );
      border: 1px solid #e49df4;
      cursor: pointer;
    }

    .proceed {
      padding: 10px 20px;
      color: white;
      background: linear-gradient(
        94.3deg,
        rgba(255, 255, 255, 0.12) 8.58%,
        rgba(255, 255, 255, 0.03) 96.04%
      );
      box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.5);
      backdrop-filter: blur(64.767px);
      border-radius: 23px;
      border: 1px solid #ffffff;
      cursor: pointer;
    }

    & > button:nth-child(1) {
      margin-left: 0 !important;
    }

    & > button:nth-child(2) {
      margin-left: 50px;
    }
  }
}

.task-status-btn {
  text-transform: capitalize;
  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: 17px;
  color: white;
  text-align: center;
  width: max-content;

  background: linear-gradient(
    126.59deg,
    rgba(255, 255, 255, 0.4) 12.11%,
    rgba(255, 255, 255, 0.1) 73.08%
  );
  box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 20%);
  backdrop-filter: blur(40px);
  border: 0.5px solid white;
  border-radius: 11px;
  padding: 7px 20px;
}

.pencil-icon {
  margin-left: 10px;
  font-size: 16px;
}

.edit-btn {
  cursor: pointer;
  position: absolute;
  right: 25px;
  text-transform: capitalize;
  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: 17px;
  color: white;
  text-align: center;
  width: max-content;

  background: none;
  box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 20%);
  backdrop-filter: blur(40px);
  border: 0.5px solid white;
  border-radius: 11px;
  padding: 7px 20px;
}

.line {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
  width: 350px;
  height: 0px;
}

.small-text {
  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: 8px;
  line-height: 20px;
  /* identical to box height */
  margin-top: 10px !important;
  text-align: center;

  color: #c4c4c4;
}
