.profile-socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(60, 60, 70, 0.5);
  border: 0.7px solid #141414;
  border-radius: 10.4px;
  text-align: center;
  outline: none;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;

  & > svg {
    margin: 0 14px;
  }
}

.social-title {
  font-family: var(--font-family-roboto-flex);
  font-weight: 600;
  font-size: 32px;
  color: white;
  margin-bottom: 60px;
}

.gradient-save-btn {
  height: 76px;
  width: 270px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
  z-index: 1;

  & > .gradient-blur {
    width: 99.9%;
    height: 100%;
    filter: blur(26px);
    box-shadow: 0px -4px 5px rgba(255, 206, 239, 0.15),
      inset 0px 4px 15px #d39bff;
    cursor: pointer;
  }

  & > p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family-roboto-flex);
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.social-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;

  .social-input-title {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 21px;
  }

  .social-input-field {
    background-color: #2d2d35;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 48px;
    padding: 0 20px;
    z-index: 1;

    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 19px;
  }
}
