@import '../../../styles/mixins/scrollbar.scss';

body {
  color: #fff;
}

.profile-image {
  width: 90px;
  height: 90px;
  margin: auto;

  position: relative;
  cursor: pointer;
  overflow: hidden;

  .image-wrapper {
    .userImage {
      position: relative;
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }

    .bgImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      opacity: 0.7;
    }
  }

  .editIcon {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.save-profile {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  border: 1.5px solid;
  border-radius: 20px;
  padding: 3px 15px;

  .text {
    font-family: var(--font-family-roboto-flex);
    font-weight: 400;
    font-size: 20px;
    margin-right: 5px;
  }
}

.name-designation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .name {
    font-family: var(--font-family-roboto-flex);
    font-weight: 600;
    font-size: 35px;
    color: white;
    margin-top: 28px;

    background: rgba(60, 60, 70, 0.5);
    border: 0.7px solid #141414;
    border-radius: 10.4px;
    text-align: center;
    outline: none;
    width: 60%;
  }

  .designation {
    font-family: var(--font-family-roboto-flex);
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-top: 8px;

    background: rgba(60, 60, 70, 0.5);
    border: 0.7px solid #141414;
    border-radius: 10.4px;
    text-align: center;
    outline: none;
    width: 60%;
    padding: 10px 0;
  }
}

.experience-points {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .value {
    font-family: var(--font-family-roboto-slab-medium);
    font-size: 30px;
    color: white;

    .label {
      font-family: var(--font-family-roboto-bold);
      font-size: 23px;
      background: -webkit-linear-gradient(
        298.19deg,
        #ffbedf 27.52%,
        #eac4ff 48.39%,
        #ffc9af 69.27%,
        #ffd9a0 94.32%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.profile-address-chain {
  display: flex;
  flex-direction: column;
  align-items: center;

  .address-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 291px;
    height: 40px;
    margin: 0 auto;

    .profile-address {
      font-family: var(--font-family-roboto-flex);
      font-weight: 400;
      font-size: 17px;
      color: white;
    }

    & > i {
      color: white;
    }
  }

  .sync-text {
    font-family: var(--font-family-roboto-flex);
    font-weight: 300;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;

    & > i {
      color: white;
      margin-left: 5px;
    }
  }
}

.profile-bio {
  font-family: var(--font-family-roboto-flex);
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;

  background: rgba(60, 60, 70, 0.5);
  border: 0.7px solid #141414;
  border-radius: 10.4px;
  text-align: center;
  outline: none;
  width: 85%;
  height: 80px;
  resize: none;
  display: flex;
  padding: 10px 15px;

  @include customScrollbar;
}

.promptImg {
  width: 600px;
  height: 277px;
}

.nftsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 500px;

  .selectedNFT {
    box-shadow: 0px 12px 22px 1px #333;
  }

  .singleNft:nth-child(3n) {
    margin-right: 0;
  }

  .singleNft {
    margin-right: 30px;

    h3 {
      font-size: 14px;
      font-weight: 400;
      color: #c4c4c4;
    }

    p {
      font-size: 17px;
      font-weight: 600;
    }
  }

  img {
    width: 119.53px;
    height: 119.53px;
    object-fit: cover;
  }
}

.wrapper {
  position: relative;

  height: 100%;
  width: auto;

  .promptText {
    position: absolute;
    height: 500px;
    bottom: -25%;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;

    & h2 {
      font-size: 32px;
      margin-bottom: 12px;
    }

    & p {
      color: #cbcbcb;
      font-size: 18px;
    }

    & div {
      height: 20%;
    }

    & footer {
      font-size: 18px;
      color: #cbcbcb;
      margin-bottom: 20px;

      & span {
        cursor: pointer;
        color: #fff;
        text-decoration: underline;
      }
    }

    & button {
      background: url('/src/assets/illustrations/button/save-btn-bg.png')
        no-repeat;
      width: 241px;
      height: 59px;
      backdrop-filter: blur(43.3229px);
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
      background-size: cover;
      border-radius: 26.8312px;
      border: 0.62px solid;
      color: #fff;
      cursor: pointer;
      font-size: 22.58px;
      position: absolute;
      left: 25%;
    }
  }

  img {
    position: absolute;
    z-index: -1;
    top: -6%;
    left: -6%;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    margin-top: 5px;
    font-size: 30px;
  }

  & p {
    font-size: 25px;
    font-weight: 300;
    margin-top: 32.15px;
  }

  .empty {
    height: 100px;
  }
}

.nftsWrapper {
  position: relative;

  button {
    position: absolute;
    left: 30%;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    box-shadow: 0px 3.79667px 22.78px -0.949168px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(37.9667px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 23px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding: 14.41px;
    border: 0.7px solid #ff9bfb;
    width: 208px;
    height: 56.57px;
  }

  & h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 54px;
  }
}
