.content {
  @media (max-width: 1920px) {
    width: 70%;
  }
  @media (max-width: 1680px) {
    width: 70%;
  }
  @media (max-width: 1440px) {
    width: 80%;
  }
  @media (max-width: 1024px) {
  }

  margin-top: 60px;
  margin-inline: auto;
  max-width: 1532px;
  margin-inline: auto;

  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.organisation-name-description {
  width: 100%;
  & > div {
    min-height: 100px;
    display: flex;
  }
  & > span {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h3 {
      margin-bottom: 0;
    }

    & > button {
      padding: 2px;
      text-align: center;
      color: #fff;
      font-family: var(--font-family-roboto-regular);

      font-size: 18px;
      border: 0.94px solid #ff9bfb;
      border-radius: 22px;
      height: 50px;
      width: 195px;
      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(
          89.58deg,
          #826af7 2.95%,
          #db5dde 56.19%,
          #e87aaf 103.17%
        ),
        linear-gradient(0deg, #e49df4, #e49df4),
        radial-gradient(
            116.97% 116.97% at 34.87% -2.72%,
            #ff9bfb 0%,
            #ffffff 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
          94.63deg,
          rgba(255, 255, 255, 0.16) 4.94%,
          rgba(255, 255, 255, 0.04) 93.94%
        );
      & > a {
        color: #fff;
      }
    }
    & > .button--edit {
      cursor: pointer;
      background: linear-gradient(
        94.3deg,
        rgba(255, 255, 255, 0.12) 8.58%,
        rgba(255, 255, 255, 0.03) 96.04%
      );
    }
  }
}

.organisation-profile-created {
  width: min(100%, 22rem);

  & > div {
    min-height: 241px;
    display: flex;
  }
}

.organisation-heading {
  color: #fff;
  font-family: var(--font-family-roboto-regular);
  font-weight: 400;
  font-size: 20.7511px;
  margin-bottom: 15px;
}

.whitepaper-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.organisation-whitepaper-link {
  color: #fff;
  font-family: var(--font-family-roboto-flex);
  font-weight: 500;
  font-size: 12.8301px;
  border-bottom: 1px solid white;
  width: max-content;
}

.organisation-whitepaper-edit {
  background: rgba(60, 60, 70, 0.5);
  border: 0.7px solid #141414;
  border-radius: 10.4px;
  color: white;
  font-size: 16px;
  padding: 15px 10px;
  width: 30%;
  outline: none;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  // padding: 41px 43px;
  // z-index: 2;

  // border-radius: 20px;
  // padding: 10px;

  // background: linear-gradient(
  //   126.59deg,
  //   rgba(255, 255, 255, 0.12) 12.11%,
  //   rgba(255, 255, 255, 0.03) 73.08%
  // );
  // backdrop-filter: blur(40px);
  // -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  // -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  // box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);

  & > p {
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12.5743px;
    line-height: 23px;
  }

  &--edit {
    border: 0.7px solid #141414;
    box-shadow: none;
    border-radius: 20px;
    padding: 0;
    background: linear-gradient(
      126.59deg,
      rgba(255, 255, 255, 0.12) 12.11%,
      rgba(255, 255, 255, 0.03) 73.08%
    );
    backdrop-filter: blur(40px);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  }

  &--textarea {
    width: 100%;
    min-height: inherit;
    resize: none;
    background: inherit;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 10px;
    color: white;
    font-family: var(--font-family-roboto-regular);
    font-weight: 400;
    font-size: 16px;
  }
}

.organisation-profile-container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 0.5px solid rgba(211, 155, 255, 1);
  padding: 20px;

  background: linear-gradient(
    126.59deg,
    rgba(255, 255, 255, 0.12) 12.11%,
    rgba(255, 255, 255, 0.03) 73.08%
  );
  box-shadow: 0px 3.38849px 20.331px -0.847123px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(33.8849px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16.9425px;
}

.image-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  align-self: center;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
  }
}

.text {
  font-family: var(--font-family-roboto-regular);
  font-weight: 500;
  text-align: center;
  color: #ffffff;

  &--primary {
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px 0;
    line-height: 21px;
  }

  &--secondary {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 13px;
  }

  &--addn {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 11px;
  }
}

.btn {
  width: min(200px, 100%);
  align-self: center;
  padding: 12px 23px;
  color: white;
  cursor: pointer;

  border: solid 1px rgb(255, 255, 255); /* !importanté */
  border-radius: 16px;

  font-family: var(--font-family-roboto-regular);
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  background: linear-gradient(
    126.59deg,
    rgba(255, 255, 255, 0.12) 12.11%,
    rgba(255, 255, 255, 0.03) 73.08%
  );
  backdrop-filter: blur(40px);
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.66);
}
