.wrapper {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5px;
}
.content {
  width: 100%;
  margin-left: 25px;
  position: relative;
  p {
    font-size: 14px;
  }
}
.rating-star {
  color: #fbc579;
}
.dot {
  position: absolute;
  top: 1px;
  left: -25px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #a1a1e5;
}
.heading {
  margin-left: 20%;
  margin-bottom: 60px;
}
