.profile-content-container {
  width: 800px;
  height: 659.1px;
  background: rgba(45, 45, 53, 0.7);
  border: 1px solid #414141;
  border-radius: 30px;
  margin-left: 60px;
  padding: 54px 52px 60px 90px;
}
