.container {
  background-color: #242529;
  min-height: 100vh;
  background-size: repeat;
}

.profile-card-content-container {
  display: flex;
  justify-content: center;
  width: 98%;
  margin: auto;
}
