.container {
  background-color: #242529;
  min-height: 100vh;
}

.profile-card-content-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 73%;
  @media (max-width: 1920px) {
    width: 70%;
  }

  @media (max-width: 1680px) {
    width: 70%;
  }

  @media (max-width: 1440px) {
    width: 80%;
  }

  @media (max-width: 1024px) {
    width: 90%;
  }
}
