.background {
  background: #242529;
  height: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 10px;

  color: white;

  & p {
    font-family: var(--font-family-roboto-medium);
    font-size: 25px;
  }

  & span {
    font-size: 16px;
    text-decoration: underline;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  @media (max-width: 1920px)  {
    width: 70%;
  }
  @media (max-width: 1680px)  {
    width: 70%;
  }
  
  @media (max-width: 1440px)  {
    width: 80%;
  }
  
  @media (max-width: 1024px) {
    width: 82%;
    flex-direction: column;
  }
  
   

  padding-bottom: 60px;
}
.my-projects-wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  @media (max-width: 1920px)  {
    width: 70%;
  }
  @media (max-width: 1680px)  {
    width: 70%;
  }
  
  @media (max-width: 1440px)  {
    width: 80%;
  }
  
  @media (max-width: 1024px) {
    width: 82%;
  }
}
