.container {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
  padding: 25px;
  color: #fff;
  backdrop-filter: blur(43.3229px);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  padding-left: 5%;
}

.space {
  height: 40px;
}
.formFieldSpace {
  height: 15px;
}
.input {
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 400px;
  font-size: 14px;
  background: transparent;
  color: #fff;
  font-family: var(--font-family-roboto-regular);
}
.input[type='date'] {
  color: #fff;
  font-family: var(--font-family-roboto-regular);
  opacity: 1;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
}
input[type='date']::-webkit-calendar-picker-indicator {
  background-color: #fff;
}

.input::placeholder {
  color: #fff;
  position: absolute;
}
.pointer {
  cursor: pointer;
}
.select {
  background: transparent;
  color: #fff;
  width: 400px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.cancelBtn {
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 19px;
  color: #fff;
  width: 200px;
  height: 45px;
  cursor: pointer;
  border: 1px solid;
  border-image-source: radial-gradient(
    116.97% 116.97% at 34.87% -2.72%,
    rgba(255, 155, 251, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background: none;
  box-shadow: none;
}
.saveBtn {
  background: url(https://s3.us-west-2.amazonaws.com/secure.notion-static.com/62c8988d-797c-4570-876c-8edf82a312ef/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220630%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220630T134614Z&X-Amz-Expires=86400&X-Amz-Signature=d803fac1e13f1a22d71b8c9477b21c800efe13419c21a096a016217921a9a51a&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22&x-id=GetObject);

  width: 200px;
  height: 45px;
  backdrop-filter: blur(43.3229px);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);

  background-size: cover;
  border-radius: 26.8312px;
  border: 0.62px solid;
  color: #fff;
  cursor: pointer;
}
.plus {
  // font-weight: 600;
}
span {
  & .input {
    width: 100px;
  }
}
