.sign-up-form {
  border-radius: 30px;
  text-align: center;
  animation: messageShow;
  animation-duration: 1s;

  @keyframes messageShow {
    0% {
      transform: translateY(32px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &--option-select {
    margin: auto;
    & > p {
      font-family: var(--font-family-roboto-regular);
      font-size: 14px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    & > p:first-child {
      margin-top: 0;
    }

    & > .buttons-container {
      display: flex;
    }

    & > button {
      margin-bottom: 25px;
    }
  }

  .sign-up-form {
    display: flex;
    justify-content: center;
    position: relative;

    button:nth-child(1) {
      font-family: var(--font-family-roboto-flex);

      font-weight: 500;
      font-size: 16px;

      text-align: center;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      left: 20px;
      color: #fff;
      background: linear-gradient(
        58.93deg,
        rgba(52, 52, 52, 0.8) 0.74%,
        rgba(52, 52, 52, 0.408) 99.38%
      );
      border-radius: 22.3665px;
      height: 50px;
      width: 50px;
      z-index: 1;
      border: none;
    }

    button:nth-child(3) {
      position: absolute;
      top: 7px;
      right: 15px;
      color: #fff;
      background: none;
      border: 1px solid #e49df4;
      cursor: pointer;
      font-family: var(--font-family-roboto-regular);
      color: #fff;
      font-size: 18px;
      background: linear-gradient(
          94.63deg,
          rgba(255, 255, 255, 0.16) 4.94%,
          rgba(255, 255, 255, 0.04) 93.94%
        ),
        linear-gradient(
          89.58deg,
          #826af7 2.95%,
          #db5dde 56.19%,
          #e87aaf 103.17%
        );
      box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.1);
      border-radius: 18.1051px;
      width: 117.52px;
      height: 49.15px;
    }

    input {
      color: #fff;
      border-radius: 15px;
      border: 0.7px solid #fff;
      width: 388px;
      height: 62px;
      cursor: pointer;
      font-family: var(--font-family-roboto-regular);
      font-size: 16px;
      font-weight: 300;
      padding: 0 100px 0 80px;
      background: linear-gradient(
        58.93deg,
        rgba(52, 52, 52, 0.8) 0.74%,
        rgba(52, 52, 52, 0.408) 99.38%
      );
      border-radius: 22.3665px;
      backdrop-filter: blur(40px);
    }
    input::placeholder {
      text-align: center;
      color: #fff;
    }
    .sign-up-form-email-error {
      font-family: var(--font-family-roboto-flex);

      font-weight: 300;
      font-size: 12px;

      color: #ff8383;
      position: absolute;
      left: 25px;
      top: 70px;
    }
  }
}

.toast-button {
  font-family: var(--font-family-roboto-regular);
  color: #fff;
  margin-left: 10px;
  border: 0.7px solid #cf92ff;
  background: linear-gradient(
      89.58deg,
      #826af7 2.95%,
      #db5dde 56.19%,
      #e87aaf 103.17%
    ),
    linear-gradient(0deg, #e49df4, #e49df4),
    radial-gradient(116.97% 116.97% at 34.87% -2.72%, #ff9bfb 0%, #ffffff 100%),
    linear-gradient(
      94.63deg,
      rgba(255, 255, 255, 0.16) 4.94%,
      rgba(255, 255, 255, 0.04) 93.94%
    );
  width: 80px;
  height: 25px;
  border-radius: 22px;
  cursor: pointer;
}
